<div class="landing-container">
  <!-- Background Video for larger screens -->
  <video id="bg-video-large" class="bg-video" playsinline autoplay muted loop>
    <source src="assets/large.mp4" type="video/mp4" />
  </video>

  <!-- Masthead Section -->
  <div class="masthead">
    <div class="masthead-content text-white">
      <div class="container-fluid px-4 px-lg-0">
        <!-- Buttons -->
        <div class="buttons-container">
          <button routerLink="/signup" class="btn btn-signup">Sign Up</button>
          <button routerLink="/login" class="btn btn-login">Log In</button>
        </div>
      </div>
    </div>
  </div>
</div>
